<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>借阅管理</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>借阅管理</h1>
    <form method="get" action="{% url 'books:loans_management' %}">
        <label>
            <input type="text" name="q" placeholder="搜索借阅者名称">
        </label>
        <button type="submit">搜索</button>
    </form>
    <table>
        <tr>
            <th>书名</th>
            <th>借阅者</th>
            <th>借阅日期</th>
            <th>归还日期</th>
        </tr>
        {% for loan in page_obj %}
        <tr>
            <td>{{ loan.book.title }}</td>
            <td>{{ loan.user.username }}</td>
            <td>{{ loan.loan_date }}</td>
            <td>{{ loan.return_date|default:"未归还" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">没有借阅记录。</td>
        </tr>
        {% endfor %}
    </table>
    <div>总数：{{ loans.count }}条</div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; 第一页</a>
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current">
                第 {{ page_obj.number }} 页，共 {{ page_obj.paginator.num_pages }} 页
            </span>

            {% if page_obj.has_next%}
            <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">最后一页 »</a>
            {% endif %}
        </span>
    </div>
    <a href="{% url 'books:home' %}">返回首页</a>
</body>
</html>
